<!DOCTYPE html>
<html>
      <head>
            <title> {{page.title}} </title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
      <body>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de mí</a></li>
                <li><a href="/project">Proyecto</a></li>
                <li><a href="/tareas">Tareas</a></li>
             </ul>
             </nav>
             <div class="container">
             
             {{ content }}
             
              </div>
              <footer>
              <ul>
                    <li><a href="mailto: pierre.padilla.h@upch.pe">Correo Electrónico</a></li>
                    <li><a href="https://github.com/pgpadilla/">Mi repositorio en GitHub</a></li>
                </ul>
                </footer>
         </body>
</html> 
